@import "scss/common/mixins";

.slider {
  background-image: url("../img/background/bg_pricingANDplans.png");
  background-size: cover;
  background-position: center;
  @include width-height-value(100%, 640px);
  background-color: #15141a;
  @include flex-container(column, flex-start, center);

  .carousel-control-prev{
    left: 0;
  }
  .carousel-control-next{
    right: 0;
  }
  .pagination {
    margin-right: 46%;
    margin-left: 46%;
    height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .slider-nav {
      width: 5px;
      height: 5px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.0);
      border: 1px solid rgba(255, 255, 255, 0.29);

      &.active {
        width: 14px;
        height: 14px;
        background-color: #ffffff;
      }
    }
  }
  .subtitle-text-slider {
    @include text-styles(14px, 700, $main-color-blue, 100%, 40px, 0.1em);
    text-transform: uppercase;
  }

  .title-text-slider {
    @include text-styles(36px, 600, $main-color-black, 100%, 36px, normal);
    letter-spacing: normal;
  }

  .slider-item {
    @include flex-container(row, space-between, center);


    .block-slider {
      width: 48%;
      @include flex-container(column, center, flex-start);

      .text-slider {
        @include text-styles(24px, 400, $text-primary-color, 100%, 32px, 0);
        font-style: italic;
      }

      .responses-block {
        @include flex-container(row, center, center);

        .responses-info {
          @include flex-container(column, center, flex-start);

          .name {
            @include text-styles(16px, 400, $text-primary-color, 100%, 28px, 0);
          }

          .status {
            @include text-styles(14px, 700, $text-primary-color, 100%, 26px, 0);
          }
        }
      }

    }
  }

}

.like-what-block {
  @include width-height-value(100%, 170px);
  @include flex-container(row, space-between, center);
  background-color: #15141a;

  .like-what-flex {
    @include flex-container(row, space-between, center);

    .title-like-what-block {
      @include text-styles(36px, 600, $text-primary-color, 100%, 48px, normal);

      span {
        font-weight: 100;
      }
    }

    .like-what-block-button {
      @include flex-container(row, space-between, center);

      .button-down {
        @include button-style($main-color-blue, 14px, 700, $text-primary-color, 3px, 0);
        @include width-height-value(160px, 52px);
        border: 1px solid rgba(255, 255, 255, 0.51);
        margin-left: 15px;
        &:hover {
          border: 1px solid rgba(255, 255, 255, 0.51);
          box-shadow: 0 0 10px $main-color-blue;
        }
      }

      .button-view {
        @include button-style(rgba(0, 142, 214, 0.0), 14px, 700, $text-primary-color, 3px, 0);
        @include width-height-value(160px, 52px);
        background-color: rgba(0, 142, 214, 0.0);
        border: 1px solid rgba(255, 255, 255, 0.2);
        &:hover {
          border: 1px solid rgba(255, 255, 255, 0.48);
          box-shadow: 0 0 10px rgba(153, 153, 153, 0.5);
        }
      }

    }
  }
}

@import "slider-media";