@import "scss/common/mixins";

.footer {
  @include width-height-value(100%, 160px);
  background-color: #15141a;
  margin-top: -20px;

  .footer-content {
    @include width-height-value(100%, 160px);
    @include flex-container(column, center, center);

    .footer-logo {
      @include flex-container(row, space-between, center);
      margin-bottom: 20px;

      .footer-img {
        filter: grayscale(100%);
        transition: filter 0.3s ease;

        &:hover {
          filter: grayscale(0%);
        }

      }


    }

    .text-footer {
      @include text-styles(14px, 600, #444348, 100%, 18px, normal);

    }
  }

}
