//GENERAL
$content-width: 1170px;
$font-family:'Source Sans 3', sans-serif;
$text-primary-color: #ffffff;
$main-color-blue: #008ed6;
$main-color-grey: #999999;
$main-color-black:#1a1a1a;
$color-black:#1b1b1b;
$second-background-color: #f2f2f2;
